*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Inter", sans-serif;
}

body{
background:linear-gradient(180deg,#f8fafc,#eef2f7);
color:#1f2937;
}

/* NAVBAR */

.navbar{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10px;
}

.logo{
font-size:20px;
font-weight:600;
color:#2563eb;
display:flex;
align-items:center;
gap:8px;
}

.nav-links{
list-style:none;
display:flex;
gap:40px;
font-weight:500;
}

.nav-links li{
cursor:pointer;
transition:0.2s;
}

.nav-links li:hover{
color:#2563eb;
}

.nav-buttons{
display:flex;
gap:12px;
}

.login-btn{
padding:8px 18px;
border:1px solid #d1d5db;
background:white;
border-radius:8px;
cursor:pointer;
}

.signup-btn{
padding:8px 18px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}


/* HERO SECTION */

.hero-section{
max-width:1200px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
gap:80px;
padding:80px 10px;
}


/* TEXT */

.hero-text{
max-width:520px;
}

.badge{
background:#e8f0ff;
color:#2563eb;
padding:6px 14px;
border-radius:20px;
font-size:12px;
font-weight:600;
}

.hero-text h1{
font-size:54px;
margin-top:20px;
line-height:1.1;
font-weight:700;
}

.hero-text span{
color:#2563eb;
}

.hero-text p{
margin-top:20px;
font-size:16px;
color:#6b7280;
line-height:1.7;
}


/* BUTTONS */

.hero-buttons{
margin-top:30px;
display:flex;
gap:16px;
}

.primary-btn{
padding:14px 28px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
font-weight:500;
cursor:pointer;
}

.secondary-btn{
padding:14px 24px;
border:1px solid #d1d5db;
background:white;
border-radius:10px;
cursor:pointer;
}


/* IMAGE */

.hero-image img{
width:500px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}